<link rel="stylesheet" href="./styles/cards.css">
{{> particles}}
<section class="banner">
	<h1>I am <span>--Explosion--</h1>
</section>
<div class="page_container">
<div class="text">
	<h1>Hi!</h1>
	Hi! I'm --Explosion--, this is my website, on which you'll find all my projects! I am a 15 year old coder and I love to code cool stuff! 
</div>
<div class="projects">
{{#projects}}
	<div class="big">
		<article class="container">
			<div class="box">
				<img src="{{image}}" width="1500" height="1368" alt="">
			</div>
			<div class="content">
				<p class="tags">
					{{#tags}}
						<span class="tag">{{{this}}}</span>
					{{/tags}}
				</p>

				<h1 class="title"><a href="{{link}}">{{title}}</a></h1>

				{{!-- <p class="metadata">
				<span class="rating">★★★★<span>☆</span></span>
				<span class="votes">June 2021</span>
			</p> --}}

				<p class="desc">{{description}}</p>
				<div class="buttons">
					<a href="{{link}}"><button class="save" type="button">
							<span class="iconify" data-icon="akar-icons:play" data-inline="false"></span>
							View
						</button></a>
					<a href="{{code_link}}">
						<button class="save" type="button">
							<span class="iconify" data-icon="bx:bx-code-curly" data-inline="false"></span>
							Code
						</button>
					</a>
				</div>
			</div>
		</article>
	</div>
{{/projects}}
</div>
</div>